{% extends 'base.html.twig' %}

{% block title %}Edit DocumentCategory{% endblock %}

{% block body %}
    <h1>Edit DocumentCategory</h1>

    {{ include('document_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_document_category_index') }}">back to list</a>

    {{ include('document_category/_delete_form.html.twig') }}
{% endblock %}
